<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
  {{!-- <!--href="/css/styles.css"-->
<script src="/js/app.js"></script> --}}
</head>

<body>
  {{>header}}
  <a id="mail" href="abhi.sunil99@gmail.com">Drop a mail for any query</a>
  {{!-- <h1>{{title}}</h1>
  <p>Created by {{name}}</p> --}}
  {{>footer}}
</body>

</html>